/*Esercizio n1*/

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}

/* Esercizio n2 */
.ex-2-square:active{
  width: 100%;
}

.ex-2-square{
  transition: 2s;
}

/* Esercizio n3 */
.ex-3-square:hover{
  border-radius: 50px;
}

.ex-3-square{
  transition: 0.5s;
}

/* Esercizio n4 */
.ex-4-square:hover{
  opacity: 0;
}

.ex-4-square{
  transition: 2s;
}

/* Esercizio n5 */
.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

.ex-5-square{
  transition: 1s;
}

/* Esercizio n6 */
.ex-6-img:hover{
  filter: grayscale();
}

/* Esercizio n7 */
.ex-7-img:hover{
  filter: grayscale(80%) sepia(100%);
}

.ex-7-img{
  transition: 2s;
}

/* Esercizio n8 */
.ex-8-img:hover{
  filter: grayscale(30%) sepia(70%);
  border-radius: 10px;
}

.ex-8-img{
  transition: 2s;
}

/* Esercizio n9 */
.ex-9-img:hover{
  filter: grayscale(30%) sepia(70%);
  border-radius: 10px;
  transform: scale(1.5);
}

.ex-9-img{
  transition: 2s;
}

/* Esercizio n10 */
.ex-10-icon{
  animation: gira 1s infinite linear;
}

@keyframes gira{
  0% {transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}
