/*Esercizio n1*/

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}

/* Esercizio n2 */
.ex-2-square:active{
  width: 100%;
}

.ex-2-square{
  transition: 2s;
}

/* Esercizio n3 */
.ex-3-square:hover{
  border-radius: 50px;
}

.ex-3-square{
  transition: 0.5s;
}

/* Esercizio n4 */
.ex-4-square:hover{
  opacity: 0;
}

.ex-4-square{
  transition: 2s;
}

/* Esercizio n5 */
.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

.ex-5-square{
  transition: 1s;
}